/* General layout CSS */
* {margin: 0; box-sizing: border-box;}

html {height: 100%;}

body {}

.row {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  display: flex;
  background: rgb(16, 13, 49);
  flex-shrink: 0;
  padding: 10px;
  justify-content: center;
}

header a {
display: flex;
flex-direction: column;
justify-content: flex-end;
margin-left: 0.25em;
text-decoration: none;
color: black;
text-shadow: -1px -1px 0 rgb(26, 22, 69), 1px -1px 0 rgb(26, 22, 69), -1px 1px 0 rgb(26, 22, 69), 1px 1px 0 rgb(26, 22, 69);
font-weight: bold;
font-size: 2.5em;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.topnav {
  background-color: rgb(26, 22, 69);
  overflow: hidden;
  flex-shrink: 0;

}

.topnav a {
  float: left;
  display: block;
  color: rgb(161, 163, 253);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: .4s;
  font-size: 1em;
  border-right: 1px solid black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a.mvright {float: right;}

.topnav a:hover {background-color:rgb(75, 6, 63); border-left:solid 4px rgb(75, 6, 63);color: white;}

.topnav a.active {background-color:black;  border-left:solid 4px rgb(80, 81, 164); color: white;}

.topnav .icon {display: none;}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {float: right; display: block;}

  .topbar p:not(:first-child) {display: none;}
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    border-bottom: 1px solid black;
  }
}

.content {background:black;flex: 1 0 auto;}

#totopbtn {
  position: fixed;
  bottom: 15px;
  right: 10px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgb(129, 127, 238);
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 18px;
}
#totopbtn:hover {background-color: #555;}

footer {
  flex-shrink: 0;
  padding: 15px;
  text-align: center;
  color:rgb(48, 15, 85);
  background:#100325;
}

/* Homepage CSS */
.homepage-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  background-image: linear-gradient(to bottom,rgb(0, 0, 0),rgb(0, 3, 34));
}

.topbar {
  width: 100%;
  text-align: right;
  display: flex;
  height: 54.4px;
}

.topbar p:first-child {
  flex: 1 1 auto;
  font-size: 1.5em;
  font-family: 'Caveat', cursive;
  color: rgb(177, 29, 152);
}

.topbar p:not(:first-child) {
  width: 111.88px;
}

.homepage-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em;
  font-size: 1.25em;
  flex: 1 1 auto;
  background: rgba(206, 11, 250, 0.11);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(130, 102, 126);
}

.maybe-con {
  font-size: 3em;
  padding: 0em 1em 0 1em;
  font-family: 'Caveat', cursive;
  background: -webkit-linear-gradient(rgb(172, 2, 50), rgb(5, 20, 182));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.maybe-con p {
  max-width: 219.06px;
}

.screen {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(130, 102, 126);
  background-color: black;
  padding: 1em;
  font-size: 1.5em;
  flex: 3 1 auto;
}

.homepage-content p {margin: 0.5em;}

.screen p {
  text-align: center;
  color: lightgray;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.choose-con form {
  -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75);
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.048);
  background: rgba(3, 3, 9, 0.26);
}

#genres {
  width: 200px;
  padding: 10px 20px;
  margin-bottom: 1em;
  border: none;
  border-radius: 4px;
  background-color: rgb(48, 15, 85);
  color: lightgrey;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
}

.fa-level-up-alt {
  ms-transform: rotate(90deg);
  transform: rotate(90deg);
  padding: 0.25em;
}

.fa-search-plus {
  padding: 0.25em;
  ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.fa-arrow-circle-up {padding: 0.25em;}

.btn {
  text-align: center;
  text-decoration: none;
  padding: 10px 10px;
  width: 90px;
  margin: 0.25em;
  transition-duration: .4s;
  cursor: pointer;
  border: solid 1px lightgray;
  border-radius: 4px;
}

.btn:hover {
  background-image: linear-gradient(to top right,rgb(180, 40, 80), rgba(5, 20, 182));
  color: white;
  font-weight: bold;
  border: solid 1px lightgrey;
}

.btn1-site {
  background-color: black; color: lightgray; font-weight: bold;
}

.btn2-site {background-color: rgb(163, 126, 4); color: black;font-weight: bold;}



.btn-draw {
  width: 62px;
  height: 62px;
  background-color: rgb(172, 2, 50);
  color:  rgb(99, 1, 29);
  border-radius: 50%;
  border: 6px solid rgb(130, 102, 126);
  font-weight: bold;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
}

.btn-draw:hover {
  background: rgb(99, 1, 29);
  color:lightgrey;
  border: solid rgb(130, 102, 126);
  }

/* Subpage 'Movie Base' and 'My Movies' CSS */

.wrapper {
  display: flex;
  justify-content: center;
  background:black;
}

.moviebase-content,.formpage-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: black;
  max-width: 1081px;
  padding: 0 0 8px 0;
}

.formpage-content {
  padding: 0;
  margin: 0 1em;
  justify-content: baseline;
}
.side-box {flex: 1 0 auto;}

.left-sb {
  background-image: linear-gradient(to right,rgb(0, 0, 0),rgb(0, 3, 34));
  border-radius: 0 5px 5px 0;
}

.right-sb {
  background-image: linear-gradient(to left,rgb(0, 0, 0),rgb(0, 3, 34));
  border-radius: 5px 0 0 5px;
}

/*movie info container*/
.movie-info-container {
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  padding: 0.25em 0.25em;
  width: 339px;
  color: rgb(80, 80, 80);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container-bg{display: flex;
align-items: stretch;}

.container-bg:hover {
  background-image: linear-gradient(to bottom right,rgb(171, 1, 49), rgb(5, 20, 182));
}

.title-box {
  word-wrap: break-word;
  width: 241.35px;
  display: flex;
  flex-direction: column;
  padding: 0.25em;
}

.movie-title-box {
text-align: center; padding: 0 0.25em;}

.movie-title, .movie-date-release {
  font-size: 1.5em;
  font-weight: 500;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.movie-original-title {color: gray;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.movie-director {
  display: flex;
  align-items: center;
  padding: 0.5em;
  font-family: 'Caveat', cursive;
  color: gray;
}

.director {
  margin-left: 0.25em;
  border-left: solid 1px lightgrey;
  padding: 0 0.25em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 0.85em;
  color: rgb(80, 80, 80);
}

.movie-genre-box {
  font-family: 'Caveat', cursive; 
  color: gray;
}

.movie-genre-box span {
  border-left: solid 1px lightgrey;
  padding: 0 0.25em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(80, 80, 80);
  font-size: 0.85em;
}

.rating-box {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  padding-left: 7px;
  color: gray;
  border-left: 1px solid lightgrey;
  font-family: 'Caveat', cursive;
  }

.moreinfo-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px;
  width: 72px;
  height: 72px;
  font-weight: bold;
  color: rgb(80, 80, 80);
  background: whitesmoke;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  width: 1.75em;
  height: 1.75em;
  margin: 0.1em;
  border-radius: 2px;
  font-weight: 600;
}

.filmweb {background: black;color: white; }

.imdb {background: rgb(238, 184, 6);color: black;}

.small {font-size: 0.85em;}

/*filter dropdown*/
.dropbtn {
  background-color:black;
  color: lightgrey;
  border: 1px solid rgb(80, 80, 80);
  border-radius: 3px;
  font-weight: bold;
  width: auto;
  margin: 0.25em 0;
}

.dropbtn:hover, .dropbtn:focus {
  background-image: linear-gradient(to left,rgb(180, 40, 80), rgba(5, 20, 182));
}

.fa-plus {
  font-size: 0.85em;
}

.dropdown {
  width: 100%;
  text-align: center;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px 0;
  flex-shrink: 0;
  position: sticky;
  top: 0;
}

.forms-bar {
  flex-shrink: 0;
  height: 54.4px;
  text-align: center;
  color:rgb(48, 15, 85);
  background:black;
}

.forms-bar p {
  background: -webkit-linear-gradient(rgb(5, 20, 182),rgb(107, 16, 110));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Caveat', cursive;
  padding-top: 0.45em;
}

.dropdownContent {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  max-width: 1081px;
  font-size: 0.85em;
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background:rgb(26, 22, 69);
  overflow: auto;
  padding: 0.5em 0;
  border: 1px solid rgb(62, 63, 124);
  border-radius: 5px;
  margin: 0.25em;
  font-weight: bold;
  color:rgb(165, 164, 243);
}

.dropdownContent input {
  background:rgb(16, 3, 37);
  border: 1px solid  black;
  border-radius: 4px;
  font-weight: bold;
  padding:4px;
  color:lightgrey;
}

.dropdownContent.formContent {
  margin:0;
  display:flex;
}

.btn.submitbtn { 
  background: rgb(107, 16, 110);
  border: 1px solid rgb(165, 164, 243);
  padding: 8px;
  width: 113.55px;
}


.btn.submitbtn:hover { 
  background: rgb(48, 15, 85);
  border: 1px solid rgb(165, 164, 243);
  color: lightgray;
}

.closebtn {
  background: rgb(62, 63, 124);
  border: 1px solid rgb(16, 3, 37);
  font-weight: bold;
  padding: 8px;
  width: 113.55px;
}
.closebtn:hover {
background: rgb(41, 42, 87);
border: 1px solid rgb(16, 3, 37);
}

.f-header {
  font-weight: bold; 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.2em;
  margin:4px;
}
.f-con {
  border-bottom: solid 1px rgb(62, 63, 124);
  margin: 0.5em 0;
  padding-bottom: 0.5em;
}
.f-box {
  border: 1px solid rgb(129, 127, 238);
  border-radius: 5px;
  margin: 0.5em;
  padding: 0.5em;
  display: inline-block;
  background-color: rgb(62, 63, 124);
}

.textdiv {
  display: flex; 
  flex-direction: column; 
  max-width:863px; 
}
.rev-text-box {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: darkslategray;
  background: wheat;
  box-shadow:0px 0px 6px 0px rgba(0,0,0,0.75);
  padding: 1em 0.5em;
  border-radius: 3px;
  margin: 0 0.5em;
}
.textdiv textarea {
  flex: 1 1 auto;
  height: 90px;
  border-radius: 4px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 0.5em;
  background: rgb(16, 3, 37);
  color: lightgrey;
  resize: none;
}
.dropdownContent.drop-rev{align-items: stretch;}
.dropdownContent.drop-rev .closebtn{align-self: center; }

.option label {
  font-family: Arial, sans-serif;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  white-space: nowrap;
  margin: 2px;
  padding: 4px;
  font-weight: bold;
  color: gray;
  background: black;
  transition-duration: .2s;
  cursor: pointer;
}

.option input {
  opacity: 0;
  width: 0;
  height: 0;
}

input:checked + label {
  background: rgb(48, 15, 85);
  border: 1px solid rgb(107, 16, 110);
  color:lightgray;
}

input label:hover {
  background:rgb(48, 15, 85);
  border: 1px solid rgb(107, 16, 110);
  color:lightgray;
}

#review-between, #review-and, #rating-between, #rating-and {width: auto;}

/* The switch */
.switch {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 17px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgb(107, 16, 110);
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color:lightgrey;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {background-color:rgb(107, 16, 110);}
input:focus + .slider {box-shadow: 0 0 1px black;}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {border-radius: 34px;}
.slider.round:before {border-radius: 50%;}

.show {display:block;}


/*pagination*/
.pagination-box {
  display: flex;
  justify-content: center;
  padding: 8px 0;
  padding-bottom: 16px;
  flex-shrink: 0;
}

.pagination {
  background-image: linear-gradient(to right,rgb(180, 40, 80), rgb(5, 20, 182));
  display: flex;
  justify-content: center;
  }

.pag-bg {
  padding: 8px 13px;
  border: solid 1px rgb(80, 80, 80);
}

.pagination a {
  font-size: 0.85em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  border: solid 3px black;
  color: lightgray;
  float: left;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: rgba(1, 6, 63, 0);
  color: white;
}

.pagination a:hover:not(.active) {background-color: rgba(1, 6, 63, 0);}

/* My Movies CSS */

.mymovies-content {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to top,rgb(99, 1, 29), rgb(2, 10, 98));
  max-width: 901.66px;
  margin-top: 4px;
  padding-top: 0.25em;
  flex: 1 1 auto;
  border-radius: 5px;
}

.my-side-box {
  flex: 1 0 auto;
}

.my-side-box.left-sb {margin-right: 1em;}
.my-side-box.right-sb {margin-left: 1em;}

/*my movies container*/
.mymovies-container {
  background: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.25em 0.5em;
  
  min-width: 339px;
  color: rgb(80, 80, 80);
  border-top: 1px solid lightgrey;
}

.my-title-box {
  display: flex;
  flex-wrap: wrap;
  padding: 0.25em;
  flex: 1 1 auto;
  justify-content: center;
}

.my-movie-title-box {
  word-wrap: break-word;
  min-width: 243.33px;
  max-width: 538.48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 0.5em;
}

.my-movie-title-box .movie-date-release {
  margin: 0 0.15em;
}

.fav-towatch-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0.5em 0 0 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.favourite {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(180, 40, 80);
  border: solid 1px rgb(230, 182, 196);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 0 4px;
}

.fa-heart {margin: 2px 0 0 0;}

.to-watch {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(129, 127, 238);
  border: solid 1px rgb(202, 202, 248);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 0 4px;
}

.my-rating-box {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(80, 80, 80);
  border-right: 1px solid lightgrey;
}

.my-rating {
  background: rgb(62, 56, 122);
  color: white;
  margin: 1px;
}

.myrating-btn {
  width: 70px;
  height: 70px;
  margin: 0.25em 0.5em 0.25em 0;
}

.my-review-btn {
  width: 70px;
  height: 70px;
  margin: 0.25em 0.5em 0.25em 0;
  color: rgb(62, 56, 122);
  padding: 0.4em;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: whitesmoke;
  font-family: 'Caveat', cursive;
  font-size: 1em;
}

.myrating-btn:focus, .my-review-btn:focus {
  color: white;
  background-image: linear-gradient(to top right,rgb(180, 40, 80), rgba(5, 20, 182));
}

.fa-angle-down {padding: 0 0 0 0.25em;}








